# config.template
radarr:
  url: "${RADARR_URL}"
  api_key: "${RADARR_API_KEY}"

sonarr:
  url: "${SONARR_URL}"
  api_key: "${SONARR_API_KEY}"

api_timeout: "${API_TIMEOUT}"
strike_count: "${STRIKE_COUNT}"
